# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
env/
venv/
*.log

# Django
*.sqlite3
/staticfiles/
media/
.env

# Java
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
